    @mixin galeria {
        .imagenGaleria {
            position: relative;
            width: 100%;
            overflow: hidden;

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background-color: rgba(0, 0, 0, .5);

                p {
                    color: white;
                    font-size: 16px;
                    position: absolute;
                    top: 68%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }

            img {
                transition:all 0.8s;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            &:hover img {
                transform: scale(1.2);
                transition:all 0.8s;
            }

            &:hover .overlay {
                opacity: 1;
            }

            .text {
                color: white;
                font-size: 22px;
                position: relative;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
        
    }
    
    /*------------galería index------------*/

    .seccionGaleria {
        padding: 2vh;

        h2 {
            text-align: center;
        }

        .galeriaIndex {
            display: grid;
            grid-template-columns: repeat (1, 1fr);
            grid-auto-rows: 60vh;
            padding: 4vh;
            gap: 1vw;
            @include galeria();
        }
    }

    /*------------galería pinturas/ galeria Cartas------------*/

    .galeriaPinturas, .galeriaCartas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 4vh;
        gap: 10px;
        @include galeria();
    }

    .galeriaPinturas {
        grid-auto-rows: 50vh;
    }

    .galeriaCartas {
        grid-auto-rows: 40vh;
        
    }

    /*-------------------galerías-----------------*/
    /*--------------------tablets-----------------*/

    @media (min-width:768px) {
        .galeriaIndex, .galeriaCartas {
            grid-template-columns: repeat(2,1fr);
        }

        .galeriaPinturas {
            grid-template-columns: repeat(3,1fr);
        }
    }

    /*------------galerías desktops---------------*/

    @media (min-width:1024px) {
        .galeriaIndex, .galeriaCartas {
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
        }

        .galeriaPinturas {
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
        }
    }