    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: ('Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
    }

/* ------------colores--------------*/

    $colorPrimario: #074073;
    $colorBanner1: #F2EEAC;
    $colorBanner2: #DFB322;
    $colorBanner3: #a1c1aa;
    $colorLinkedin: #0B6BBF;
    $colorBehance: #DFB322;
    $colorMail: #a1c1aa;

/* ------------tipografías--------------*/
    $fontSubtitulos: ('Playfair Display', serif);

/* ------------botones--------------*/
    /* ---------CTA en index----------*/

    .cta {
        margin-top: 25px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .buttonGrande {
            width: 300px;
            height: 56px;
            background-color: transparent;
            border: none;
            padding: 8px 32px;
            position: relative;
            font-size: 18px;
            line-height: 18px;
            font-weight: 900;
            letter-spacing: 0.25em;
            text-transform: uppercase;
            vertical-align: middle;

            a {
                padding: 15px 60px;
                position: relative;
                text-decoration: none;
                color: #000;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 28px;
                background: rgba( 162, 166, 45, 0.6);
                background-size: cover;
                width: 56px;
                height: 56px;
                transition: all 0.3s ease;
            }

            &:hover::before {
                width: 300px;
                background: rgba( 162, 166, 45, 0.9);
            }

            &:hover a{
                color: #fff;
                transition: all 0.3s ease;
            }
        }
    }

    @media (max-width: 1024px) {
        .cta {
            .buttonGrande {
                width: 300px;
                background-color: rgba( 162, 166, 45, 0.9);
                border-radius: 28px;

                a {
                    color: #fff;
                }

                &:before {
                    background: transparent;
                }

                &:hover::before {
                    background: transparent;
                }
            }
        }
    }

/* ------------textos--------------*/

    .subtitulo {
        text-align: center;
        margin: 60px;
        font-size: 3rem;
        font-family: $fontSubtitulos;
    }

/* --------------------navbar------------------------*/

    .navbar {
        background-color: $colorPrimario;
        padding: 0;
        padding-right: 16px;

        .navbar-toggler {
            border: 0;

            /*---desactivar borde de bootstrap---*/
            &:focus {
                box-shadow: 0 0 0 0rem;
            }
        }

        .navbar-brand {

            img {
                height: 3vh;
                min-width: 100px;
                object-fit: cover;
                margin: 16px;
                margin-left: 22px;
            }
        }

        .navbar-collapse {
            justify-content: end;

            .navbar-nav {

                height: 40vh;
                justify-content: space-between;

                .nav-link {

                    height: 10vh;
                    padding: 3.5vh;

                    &:hover {
                        background-color: #fff;
                        color: $colorPrimario;
                    }
                }

                a {
                    font-family: Arial, Helvetica, sans-serif;
                    width: 100vw;
                    text-align: center;
                }
            }
        }

        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }

    @media (min-width: 992px) {

        .navbar-expand-lg {

            height: 10vh;

            .navbar-collapse {

                .navbar-nav {
                    height: auto;

                    .nav-link {
                        height: auto;
                        padding-right: 2rem;
                        padding-left: 2rem;
                        // padding-top: 2rem;
                        // padding-bottom: 2rem;
                    }

                    a {
                        width: auto;
                    }
                }
            }

            .navbar-brand {

                img {
                    height: 4vh;
                    margin-left: 42px;
                }
            }
        }
    }

//----------------------------footer--------------------------*/

    footer {
        height: 24vh;
        width: 100%;
        background-color: $colorPrimario;
        display: flex;
        flex-direction: column;
        align-items: center;

        .socialIconos {
            min-width: 20vw;
            height: 16vh;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            margin-top: 2vh;

            li {
                list-style: none;
                padding: 20px;

                a {
                    display: block;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 2em;
                    border-radius: 50%;
                    text-align: center;
                    color: #fff;
                    background: #000;
                    transition: 0.5s;
                    overflow: hidden;

                    &:hover {
                        transform: scale(1.2);
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 50px;
                        z-index: -1;
                        transform: scale(1);
                        top: 0;
                        left: 0;
                        transition: 0.5s;
                    }

                    &:hover::before {
                        transform: scale(0);
                    
                    }
                }

                &:nth-child(1) a,
                &:nth-child(1) a::before {
                    background-color: $colorLinkedin;
                }

                &:nth-child(2) a,
                &:nth-child(2) a::before {
                    background-color: $colorBehance;
                }

                &:nth-child(3) a,
                &:nth-child(3) a::before {
                    background-color: $colorMail;
                }

                /* hover efecto */

                &:nth-child(1) a:hover {
                    background-color: #fff;
                    color: $colorLinkedin;
                }

                &:nth-child(2) a:hover {
                    background-color: #fff;
                    color: $colorBehance;
                }

                &:nth-child(3) a:hover {
                    background-color: #fff;
                    color: $colorMail;
                }
            }
        }

        .copyright {
            font-size: 12px;
            color: #fff;
            padding: 10px;
        }
    }

/* -----------------------banners------------------------*/
/* -se aplican en paginas de pintura, biografía y cartas-*/

    .banner {
        width: 100%;
        height: 40rem;
        background-color: $colorBanner3;
        display: flex;
        flex-direction: row;
        padding: 40px;
        align-items: center;

        .textoBanner {
            padding: 4%;

            h1 {
                font-size: 42;
            }

            p {
                margin: 0;
            }
        }

        img {
            height: 500px;
            min-width: 600px;
            margin: 20px;
            object-fit: cover;
            box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.42);
        }
    }
/* --------------banners responsive-------------------*/

    @media screen and (max-width:1340px) {
        .banner {
            padding: 0;

            img {
                min-width: 450px;
                height: 400px;
                padding: 0%;
                margin: 16px;
            }

            .textoBanner {
                padding-right: 2%;
                padding-left: 0;

                h1 {
                    font-size: 36px;
                }
            }
        }
    }

    @media screen and (max-width:1028px) {
        .banner {
            height: auto;
            padding: 0;
            flex-direction: column;

            img {
                width: 100vw;
                height: 50vh;
                padding: 0%;
                margin: 0;
                box-shadow: 0rem 0rem 0rem 0 rgba(0,0,0,.42);
            }

            .textoBanner {
                padding: 4%;

                h1 {
                    font-size: 36px;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .banner {
            height: auto;
            padding: 0;
            flex-direction: column;

            img {
                width: 100vw;
                min-width: 200px;
                max-height: 30vh;
                padding: 0;
                margin: 0;
                box-shadow: 0rem 0rem 0rem 0 rgba(0,0,0,.42);
            }

            .textoBanner {
                padding: 4%;

                h1 {
                    font-size: 32px;
                }
            }
        }
    }

//----------------------------Modal--------------------------*/
//-------Se aplica al abrir las imagenes de galerías---------*/

    .modal {

        .modal-header {
            border-bottom: 0;
        }

        .modal-body {
            &::-webkit-scrollbar { 
                display: none; 
            }

            .detalleDeObra {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                .detalleDeObraContenedor {
                    width: 90vw;

                    .imagenPintura {
                        max-height: 90vh;
                        top: 20vh;
                        bottom: 10vh;
                        right: 5%;
                        width: 50vw;
                        display: flex;
                        justify-content: center;
                        position: fixed;
                        transition: transform .5s;

                        &:hover {
                            transform: scale(1.1);
                            transition: transform .5s;
                        }

                        img {
                            height: 100%;
                            // width: 100%;
                            max-width: 100%;
                            width: auto;
                            object-fit: cover;
                            box-shadow: 0 10px 85px -14px rgba(0, 0, 0, 25%);
                        }
                    }

                    .infoPintura {
                        width: 36vw;
                        height: auto;
                        background-color: #fff;
                        border-radius: 2px;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        margin-top: 8vh;
                        margin-bottom: 10vh;
                        padding: 30px;
                        left: 5%;
                        box-shadow: 0 10px 85px -14px rgba(0, 0, 0, 25%);

                        //--aclaración para cartas--*/
                        .lugarFecha {
                            text-align: end;
                        }

                        h3 {
                            padding-bottom: 16px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
//-------------Modal desktop---------------*/
    @media (max-width:1024px) {
        .modal {

            .modal-body {

                .detalleDeObra {
                    flex-direction: column;

                    .detalleDeObraContenedor {
                        height: auto;

                        .imagenPintura {
                            width: 90vw;
                            height: 80vh;
                            top: 2vh;
                            right: 0;
                            position: relative;

                            &:hover {
                                transform: none;
                                transition: none;
                            }

                            img {
                                width: 100%;
                            }
                        }

                        .infoPintura {
                            width: 90vw;
                            margin-top: 0vh;
                            left: 0;
                        }
                    }
                }
            }
        }
    }